{% extends 'base.html.twig' %}

{% block title %}Modification rendez-vous{% endblock %}

{% block body %}
    <h1>Modifier un rendez-vous</h1>

    {{ include('appointment/_form.html.twig', {'button_label': 'Modifier le rdv'}) }}

    <a class="btn btn-primary mt-2" href="{{ path('appointment_index') }}">Retour à la liste</a>

    {{ include('appointment/_delete_form.html.twig') }}
{% endblock %}
