{% extends 'base.html.twig' %}

{% block title %}Modification rendez-vous{% endblock %}

{% block body %}
<div class="top container">

    <h1>Modifier le rendez-vous</h1>

    <h2>prévu le {{ appointment.beginAt|date('d-m-Y H:i') }}</h2>

    {{ include('appointment/_form.html.twig', {'button_label': 'Modifier le rdv'}) }}

    {{ include('appointment/_delete_form.html.twig') }}
    <br>
    <a class="mt-2" href="{{ path('appointment_index') }}">Retour à la liste</a>

</div>
{% endblock %}
